body, html {
	margin: 0px;
	padding: 0px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
	/* background-image: url("DSC_0257.JPG"); */
	background-repeat: no-repeat;
	background-size: 200%;
}

* {
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-areas: 'h' 'n' 'a' 'f';
	grid-template-rows: 20vh max-content auto max-content;
	min-height: 100vh;
	height: auto;
}

header h1{
	font-family: Subtitle-font;
	font-size: clamp(0.5px, 3vh, 3vw);
	font-style: italic;
	letter-spacing: 0.2em;
	margin-top: 0;
}

header img {
	height: clamp(1vh, 12vh, 12vw);
	/* float: left;
	position: relative;
	left: 50%;
	transform: translateX(-50%); */
}

header, .navbar-container, footer {
	word-break: keep-all;
	overflow: hidden;
}

header {
	grid-area: h;
	text-align: center;
	background-color: #3e4867ff;
	/* background-image: url("protislovjeText.svg"); */
	background-size: 45vh;
	/* not perfectly scalable! - to be fixed */
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-bottom: 0.5ch solid;
	border-top: 0.5ch solid;
	border-color: #56638e;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.navbar-container {
	grid-area: n;
	position: sticky;
	top: 0;
	background-color: #3e4867ff;
	border-bottom: 0.5ch solid #56638e;
}

/* @media only screen and (max-width: 1283px) {
	.navbar-container {
		display: block;
	}
} */

.navbar-container nav {
	margin-right: auto;
	margin-left: auto;
	width: 60%;
}

.navbar-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-container li {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 25%;
	flex-grow: 0;
	padding: 1em 1em;
	max-width: 20%;
	max-height: 4em;
	text-align: center;
	background-color: #3e4867ff;
	transition: 0.3s;
	color: aliceblue;
	overflow: hidden;
}

.navbar-container li:hover {
	background-color: #56638e;
	color: aliceblue;
}

h1 {
	font-size: large;
	color: #ffffff;
}

h2 {
	text-align: left;
}

hr {
	color: #ffffff;
}

section {
	padding-top: 2.5%;
	display: flex;
	flex-wrap: wrap;
}

article {
	max-width: 46%;
	margin-left: 2.5%;
	margin-bottom: 2.5%;
	max-height: 10em;
	padding: 1em;
	overflow: auto;
	text-align: justify;
	background-color: #3e4867ff;
	color: aliceblue;
}

@media only screen and (max-width: 780px) {
	article {
		max-width: 100%;
	}
}

footer {
	padding: 0.5em;
	grid-area: f;
	text-align: center;
	background-color: #3e4867ff;
	color: aliceblue;
	border-top: 0.5ch solid #56638e;
}

div.section-container {
	grid-area: a;
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	background-color: rgba(255, 255, 255, 0.836);
}