.flex-container {
	display: flex;
}

.flex-evenly {
	justify-content: space-evenly;
	align-items: center;
}

.flex-center{
	justify-content: center;
	align-items: center;
}

.container-narrow {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}


