.flex-container {
	display: flex;
}

.flex-evenly {
	justify-content: space-evenly;
	align-items: center;
}

.flex-center{
	justify-content: center;
	align-items: center;
}

.flex-between{
	justify-content: center;
	align-items: center;
}

.container-narrow {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}

.full-size-article {
	max-width: 100%;
}

/*              ~ ~ ~ COLORS ~ ~ ~             */
/* Original Palette: #1e212c, #3c4153, #3e4867 */

body {
	background-color: #1e212c;
}

#responsive-nav, header {
	background-color: #3c4153;
}

article, footer {
	background-color: #3e4867;
}

@media only screen and (max-width: 800px) {
	.container-narrow {
		width: 90%;
	}
}