body, html {
	margin: 0px;
	padding: 0px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-areas: 'h' 'n' 'a' 'f';
	grid-template-rows: clamp(5rem, 20vw, 8rem) max-content auto max-content;
	min-height: 100vh;
	height: auto;
	background-size: 200%;
	color: whitesmoke;
}

header img {
	height: clamp(30px, 12vw, 6rem);
}

header, .navbar-container, footer, article, .navbar-container li {
	word-break: keep-all;
	overflow: hidden;
}

header, footer, .navbar-container a, .full-size-article h2 {
	text-align: center;
}

header {
	grid-area: h;
	background-size: 45vh;
	/* not perfectly scalable! - to be fixed */
	padding: 1em 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#lines {
	display: none;
	font-size: clamp(25px, 10vw, 50px);
	cursor: pointer;
}

#closebtn {
	display: none;
	cursor: pointer;
	color: whitesmoke;
}


.navbar-container a, .navbar-container a:link, .navbar-container a:visited {
	text-decoration: none;
	color: whitesmoke;
}

.navbar-container a:hover {
	background-color: #56638e;
}

.navbar-container a:active {
	text-decoration: none;
}

.navbar-container a{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* height: 100%; */
	width: 100%;
	padding: 1em 1em;
	transition: 0.3s;
	text-transform: uppercase;
	font-weight: bold;
}

h2 {
	text-align: left;
	margin: 0;
}

hr {
	color: whitesmoke;
}

section {
	flex-wrap: wrap;
	padding-top: 2.5%;
	gap: 2%;
}

article {
	max-width: 49%;
	margin-bottom: 2%;
	border: 1em solid #3e4867;
	text-align: justify;
}

footer {
	padding: 0.5em;
	grid-area: f;
}

.section-container {
	grid-area: a;
}

@media only screen and (max-width: 800px) {
	article {
		max-width: 100%;
		margin: 0 3.5% 3.5% 3.5%;
	}
	div.section-container, .navbar-container nav, section {
		width: 100%;
	}
	section {
		padding-top: 3.5%;
	}
	.navbar-container {
		display: block;
		height: 0;
		width: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #1e212c;
		overflow-x: hidden;
		transition: 0.4s;
		text-align: center;
	}
	#lines {
		display: initial;
	}
	#closebtn {
		display: block;
	}
	header {
		justify-content: space-around;
	}
	.navbar-container a {
		display: block;
		padding: 1em 2em;
		max-width: 100%;
		max-height: 6em;	
		background-color: #1e212c;
		transition: 0.3s;
	}

	.flex-container{
		display: block;
	}
}