* {
	box-sizing: border-box;
	color: whitesmoke;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: grid;
	grid-template-areas: 'h' 'a' 'f';
	grid-template-rows: max-content auto max-content; 
	min-height: 100vh;
	/* height: auto; */
	background-color: #1e212c;
}

a {
	text-decoration: none;
}

hr {
	margin-bottom: 1em;
}

header, section, footer {
	word-break: keep-all;
	overflow: hidden;
}

header, footer {
	background-color: #3c4153; 
}

header {
	grid-area: h;
	padding: 0 0.5em;
}

#top-of-header {
	margin-top: 2em;
	margin-bottom: 1em;
}

header img {
	/* height: clamp(30px, 12vw, 6rem); */
	height: 6rem;
}

nav {
	/* margin-bottom: 1rem; */
	/* position: sticky;
	top: 0; */
	flex-direction: row;
}

nav a {
	/* box-sizing: content-box; */
	flex-grow: 1;
	min-height: 1em;
	padding: 1.2em 1em 0.9em 1em;	
	display: flex;
	align-items: center;
	border-bottom: 0.3em solid #bf9c0e00;
	transition: 0.3s;
}

nav a:hover {
	background-color: #56638e;
	border-bottom: 0.3em solid #bf9c0eff;
}

nav span {
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
}

section {
	grid-area: a;
	flex-wrap: wrap;
	margin: 0.5em 0;
}

footer{
	padding: 4em 0;
	grid-area: f;
}

article {
	background-color: #3e4867;
	width: 49%;
	padding: 1em;
	margin: 0.5% 0.5%;
}

nav a, .full-size-article h2 {
	text-align: center;
}

.footer-element {
	min-width: 20%;
	width: auto;
}

.footer-element * {
	margin: 0.5em 0em;
}

.footer-element hr {
	margin-bottom: 2em;
}

.footer-element a {
	display: block;
	color: #BBBBBB;
	transition: 0.3s;
}

.footer-element a:hover {
	color: #FFFFFF;
}

#lines {
	font-size: 3em;
}

#footer-container {
	gap: 4em;
}

/* background-color: #1e212c;
border-bottom: 0em solid #bf9c0e;
border: 1em solid #3e4867; 
#56638e;*/