{% extends "layout.html" %}
{% block content %}
<article class="full-size-article">
	<h2>Kdo smo?</h2>
	<hr>
	<p>
		Smo majhna skupina oseb, katere glavni cilj je bralce izobraziti za politično participacijo. <br> 
	</p>
	<p>
		Politično participacijo vidimo ne le kot predpogoj za zdravo demokracijo, 
		temveč tudi kot moralno dolžnost vsakega
		državljana, s katero sebi in skupnosti omogoča boljše življenje. <br>
	</p>
	<p>
		Menimo, da morajo vsi imeti prost dostop do objektivnih informacij. <br>
		Na tem portalu najdete tako objektivna dejstva, kot poglede z obeh strani. <br>
	</p>
</article>

{% endblock content %}