{% extends "layout.html" %}
{% block content %}
<article class="full-size-article">
	<h2>2022</h2>
	<hr>
	<p>
		xd
	</p>
</article>

<article>
	<h2>Lorem, ipsum dolor</h2>
	<hr>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolorum enim illo similique error amet. Praesentium
		exercitationem veritatis quaerat illo harum, nihil, aut error fuga vitae eos molestias debitis molestiae rerum
		quas aperiam commodi enim dolorum est quia soluta voluptas eius deserunt? Eligendi praesentium exercitationem
		aliquid, perspiciatis doloremque excepturi deserunt hic magni quibusdam quaerat earum, delectus adipisci sed, ex
		et autem provident consectetur nesciunt accusantium sint. Ipsam nam est exercitationem ab iusto a recusandae
		neque voluptatem maiores et asperiores perferendis nulla, ad quam doloribus quo, debitis placeat cumque facere.
		Ullam, debitis est magnam pariatur fuga et reprehenderit soluta nisi quidem.
	</p>
</article>

{% for x in range(1, 10) %}
<article>
	<h2>{{ x }}</h2>
	<hr>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam necessitatibus quos numquam
		voluptas unde distinctio.
	</p>
</article>
{% endfor %}
{% endblock content %}