<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<link rel="icon" href="{{ url_for('static', filename='images/protislovjeSmall.svg') }}">

	<style>
		@font-face {
			font-family: Subtitle-font;
			src: url("SalmaAlfasans-Light.otf");
		}
	</style>

	<title>Čitalnice</title>
</head>

<body>
	<header>
		<div class="container-narrow logo-container">
			<!-- <img src="{{ url_for('static', filename='images/protislovjeIcon.svg') }}" alt=""> -->
			<img id="text-heading" src="{{ url_for('static', filename='images/protislovjeText.svg') }}" alt="">
			<!-- Veritatis simplex oratio est -->
			<span id="lines" onclick="openNav()">&#9776;</span>
		</div>
	</header>
		<!-- <div class="navbar-container" id="responsive-nav">
			<nav class="container-narrow flex-container">
				<a href="{{ url_for('vestniki') }}">Vestniki</a>
				<a href="{{ url_for('zgodovina') }}">Slovenska zgodovina</a>
				<a href="{{ url_for('home') }}">Politična izobrazba</a>
				<a href="{{ url_for('about') }}">Kdo bo koga?</a>
				<a href="{{ url_for('about') }}">Kokodajs Veliki jr.</a>
				<a href="javascript:void(0)" id="closebtn" onclick="closeNav()">&times;</a>
			</nav>
		</div> -->

			<nav class="container-narrow flex-container">
				<a href="{{ url_for('vestniki') }}">Vestniki</a>
				<a href="{{ url_for('zgodovina') }}">Slovenska zgodovina</a>
				<a href="{{ url_for('home') }}">Politična izobrazba</a>
				<!-- <a href="{{ url_for('about') }}">Kdo bo koga?</a>
				<a href="{{ url_for('about') }}">Kokodajs Veliki jr.</a> -->
				<a href="javascript:void(0)" id="closebtn" onclick="closeNav()">&times;</a>
			</nav>

	<div class="section-container container-narrow">
		<section class="flex-container">
			{% block content %} {% endblock %}
		</section>
	</div>
	<footer>
		<div>LICENCE</div>
		<div>Vse pravice pridržane</div>
		<div><a href="{{ url_for('about') }}">O nas</a></div>
	</footer>

	<script src="{{ url_for('static', filename='js/animation.js') }}"></script>
</body>

</html>