{% extends "layout.html" %}
{% block content %}
<article class="full-size-article">
	<h2>Čitalnice</h2>
	<hr>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam
		repellendus
		accusamus
		autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
		quia
		sequi
		nam.
	</p>
</article>

<article class="full-size-article">
	<img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Nata%C5%A1a_Suki%C4%8D_2015.jpg" alt="kretenka">
</article>
{% endblock content %}