<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='images/protislovjeSmall.svg') }}">

	<style>
		@font-face {
			font-family: Subtitle-font;
			src: url("SalmaAlfasans-Light.otf");
		}
	</style>

	<title>Čitalnice</title>
</head>

<body>
	<div class="container">
		<header>
			<!-- <section></section> -->
			<img src="{{ url_for('static', filename='images/protislovjeLong.svg') }}" alt="">
			<!-- <h1>Domoljubni informativni portal</h1> -->
			<!-- <img src="protislovjeText.svg" alt="" style="height: 65vh;""> -->
		</header>
		<div class="navbar-container">
			<nav>
				<ul>
					<li>Politična izobrazba</li>
					<li>Slovenska zgodovina</li>
					<li>Slovenska politična sfera</li>
					<li>Kdo bo koga?</li>
					<li>Kokodajs Veliki jr.</li>
				</ul>
			</nav>
		</div>
		<div class="section-container">
			<section>
				<article class="full-size-article">
					<h2>Zakaj to pa to</h2>
					<hr>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam
						repellendus
						accusamus
						autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
						quia
						sequi
						nam.
					</p>
				</article>
				{% for x in range(10) %}
				<article>
					<h2>Zakaj to pa to</h2>
					<hr>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam necessitatibus quos numquam voluptas unde distinctio.
					</p>
				</article>
				{% endfor %}
			</section>
		</div>
		<footer>LICENCE</footer>
	</div>

</body>

</html>