<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='images/protislovjeSmall.svg') }}">

	<style>
		@font-face {
			font-family: Subtitle-font;
			src: url("SalmaAlfasans-Light.otf");
		  }
	</style>

	<title>Čitalnice</title>
</head>

<body>
	<div class="container">
		<header>
			<!-- <section></section> -->
			<img src="{{ url_for('static', filename='images/protislovjeLong.svg') }}" alt="">
			<!-- <h1>Domoljubni informativni portal</h1> -->
			<!-- <img src="protislovjeText.svg" alt="" style="height: 65vh;""> -->
		</header>
		<div class="navbar-container">
			<nav>
				<ul>
					<li>Politična izobrazba</li>
					<li>Slovenska zgodovina</li>
					<li>Slovenska politična sfera</li>
					<li>Kdo bo koga?</li>
					<li>Kokodajs Veliki jr.</li>
				</ul>
			</nav>
		</div>
		<div class="section-container">
			<section>
				<article>
					<h2>Zakaj to pa to</h2>
					<hr>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					<h2>Še en naslov</h2>
					<hr>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, amet suscipit officiis eum libero
					quisquam aperiam cupiditate laudantium ex officia beatae facere rerum consequatur repellat impedit
					dolorem atque dolores sunt, numquam distinctio itaque natus quidem sit. Repellat tenetur nesciunt
					expedita, dolores quo a aliquam quibusdam facilis sunt odit nulla asperiores doloremque minus amet,
					delectus id. Sed omnis officiis repellendus dolor totam ea quibusdam hic mollitia? Sapiente modi
					voluptatem nostrum neque! Sequi rem velit magni fugiat! Quia, aut? Ipsam ab fuga quasi nam, suscipit
					quisquam. Saepe nesciunt id, ipsum quasi numquam optio blanditiis fuga maxime sunt quo laudantium
					soluta architecto delectus? Laborum temporibus in numquam neque voluptatem. Eum consequuntur, sed
					inventore vitae similique aut quae labore, nisi cum animi eaque dolorem sequi facere ea nam
					blanditiis obcaecati expedita at laudantium. Similique cumque, consequuntur perspiciatis veritatis
					temporibus eveniet at. Placeat, illum eum. Ea omnis rem provident fuga magnam repellendus obcaecati
					nisi eligendi. Corporis rerum labore quasi atque accusamus nesciunt impedit facere consequuntur
					dolorum omnis eius animi deleniti, suscipit deserunt aspernatur nemo quidem sunt. Eaque optio porro
					illo ab ex id explicabo architecto voluptatum earum obcaecati cupiditate alias tempore minima quam
					error, accusamus totam culpa officiis consequuntur odit quasi. Voluptatem animi ex cupiditate.
				</article>
				<article>
					<h2>Figure 3</h2>
					<hr>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere assumenda porro ullam laudantium
					error sint illo, neque laborum repudiandae deserunt nemo excepturi. Porro nesciunt dolorum illo
					quaerat voluptates omnis nam nobis saepe quod eos nihil modi nisi temporibus quidem fugit, maiores
					unde iste incidunt et veniam odio illum? Voluptatem provident exercitationem, hic asperiores est
					expedita accusantium officiis quam quia sapiente ab possimus ex maiores ut dicta! Error ab mollitia
					commodi quibusdam voluptas, temporibus consequatur labore dolores, consectetur accusantium
					laudantium repellendus unde fugit iusto sequi hic maxime ratione, inventore porro possimus saepe sit
					fugiat architecto voluptate! Perspiciatis, ex officiis eaque id et, sapiente sint nobis a odio
					voluptatibus reiciendis fugiat odit dolor optio molestias, vero reprehenderit dignissimos corporis
					autem exercitationem quam! Eaque nemo velit animi dolorum odit! Nostrum quas impedit cupiditate,
					debitis odio beatae. Accusamus, sapiente? Rerum quisquam, veritatis fugiat consectetur cumque vel
					esse fugit eos pariatur amet molestias distinctio soluta maxime officiis? Numquam labore excepturi
					veritatis dignissimos exercitationem hic eligendi, quasi at aliquam esse. Modi, a, reprehenderit
					harum officiis consequatur, laboriosam dolore ipsa voluptates nam non in. Porro aut deserunt est
					amet perspiciatis eaque impedit excepturi reiciendis sequi laboriosam dolorem, iusto facilis earum
					aspernatur nostrum eum, eius quo! Facilis, esse.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
				<article>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut quidem nam ipsam repellendus
					accusamus
					autem quisquam cupiditate qui veniam. Minus iste voluptate dignissimos aliquid perferendis natus
					quia
					sequi
					nam.
				</article>
			</section>
		</div>
		<footer>LICENCE</footer>
	</div>

</body>

</html>